---
index: true
---
<% current_page.add_metadata :page => { :title => item.dname }  %>

<div class="row">
  <div class="col-md-9">
    <div class="card card-block">
      <h4><img src="<%= img_src "items", index %>" width="64"> <%= item.dname %></h4>
      <div class="text-warning"><img src="<%= img_src "abilities", "alchemist_goblins_greed" %>" width="16"> <%= item.cost %></div>
      <% if ! item.desc.empty? %>
        <div class=""><%= item.desc %></div>
      <% end %>
      <% if ! item.notes.empty? %>
        <div class="text-info"><%= item.notes %></div>
      <% end %>
      <% if ! item.attrib.empty? %>
        <div class=""><%= item.attrib %></div>
      <% end %>
      <div class="text-muted"><%= item.lore %></div>
    </div>
  </div>
</div>
