<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <link rel="icon" type="image/png" href="/images/logo.png">

    <title><%= current_page.data.title || current_page.metadata[:page][:title] || "Sentry Guides" %></title>

    <%= stylesheet_link_tag "all" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css">

  </head>

  <body class="<%= page_classes %>">
    <nav class="navbar navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">Sentry</a>
        <ul class="nav navbar-nav">
          <li class="nav-item <% if current_page.url == "/heroes/" %>active<% end %>"><a class="nav-link" href="/heroes/">Heroes</a></li>
          <li class="nav-item <% if current_page.url == "/items/" %>active<% end %>"><a class="nav-link" href="/items/">Items</a></li>
          <li class="nav-item"><a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Coming soon">Mechanics</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item"><a class="nav-link" href="https://forum.sentryguides.com">Forum</a></li>
          <li class="nav-item"><a class="nav-link" href="https://github.com/jgillich/sentry">GitHub</a></li>
        </ul>
        <form class="form-inline navbar-form pull-right" role="search">
          <div class="col-xs-2">
            <input type="text" class="form-control st-default-search-input" placeholder="Search">
          </div>
        </form>

      </div>
    </nav>
    <div class="container">
      <%= yield %>
      <div class="row">
        <div class="col-md-12">
          <div class="text-muted">
            Dota 2 is a registered trademark of Valve Corporation.
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag  "all" %>
    <script src="https://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js"></script>
    <% if content_for?(:scripts) %>
      <%= yield_content :scripts %>
    <% end %>
  </body>
</html>
