---
title: Sentry Guides
---


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block text-center">
        <h2>Uncover your hidden Dota skills</h2>
        <h4>Sentry provides high-quality guides that are constantly improved by the Community.</h4>
        <p>
          <% sitemap.where(:layout.equal => 'hero', :index.equal => true).order_by(:hero).limit(5).all.each do |page| %>
              <a href="<%=  page.url %>">
                <img src="<%= "/images/dota/heroes/#{page.data.hero}.png" %>" alt="<%= data.heroes[page.data.hero].dname %>" title="<%= data.heroes[page.data.hero].dname %>" width="100">
              </a>
          <% end %>
        </p>
        <p><a class="btn btn-primary" href="/heroes/">View All</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-9">
    <div class="card">
      <div class="card-header">Latest Blog Posts</div>
      <ul class="list-group">
        <% blog.articles[0...5].each do |article| %>
          <li class="list-group-item">
            <time><%= article.date.strftime('%b %e %Y') %></time>
            <h3><a href="<%= article.url %>"><%= article.title %></a></h3>
            <%= article.body %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-header">Sentry Links</div>
      <div class="card-block text-center">
        <a href="https://forum.sentryguides.com/" title="Forum"><i class="fa fa-comment fa-2x"></i></a>
        <a href="https://www.youtube.com/channel/UCm6uFNjw0vR0tDWs-imMFKg" title="Youtube Channel"><i class="fa fa-youtube fa-2x"></i></a>
        <a href="https://github.com/sentryguides/sentry" title="GitHub Repository"><i class="fa fa-github fa-2x"></i></a>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-header">Latest Forum Topics</div>
      <ul class="list-group latest-posts"></ul>
    </div>
  </div>

</div>

<% content_for :scripts do %>
  <script>
  var json = 'https://forum.sentryguides.com/latest.json';
  var $el = $('.latest-posts');
  $.getJSON(json).done(function (latest) {
    latest.topic_list.topics.forEach(function (topic) {
      $el.append('<li class="list-group-item"><a href="https://forum.sentryguides.com/t/' + topic.slug + '">' + topic.title + '</a></li>');
    });
  });
  </script>
<% end %>
