---
title: Sentry Guides
---


<div class="row">
  <div class="col-md-12">
    <% panel do %>
      <div class='panel-body text-center'>
        <img src="/images/logo.png" width="128">
        <h2>Uncover your hidden Dota skills</h2>
        <h4>Sentry provides high-quality guides that are constantly improved by the Community.</h4>

        <form class="form-inline" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Hero">
          </div>

          <button type="submit" class="btn btn-primary">Search</button>
          <div class="search-results">
          </div>
        </form>

      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <% panel heading: 'Blog' do %>
      <ul class="list-group">
        <% blog.articles[0...5].each do |article| %>
          <li class="list-group-item"><a href="<%= article.url %>"><%= article.title %></a></li>

        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-md-6">
    <% panel heading: 'Featured Guides' do %>
    <div class='panel-body text-center'>
      <% sitemap.where(:layout.equal => 'hero', :index.equal => true).order_by(:hero).limit(5).all.each do |page| %>
          <a href="<%=  page.url %>">
            <img src="<%= img_src "heroes", page.data.hero %>" alt="<%= page.data.hero %>" width="100">
          </a>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <% panel heading: 'What goes here?' do %>
      <ul class="list-group">
          <li class="list-group-item">Who knows..</li>

      </ul>
    <% end %>
  </div>
</div>
